<header>
  <div class="container">
    <div class="row nav rounded-top align-items-stretch justify-content-between">
      <!-- Logotipo -->	
      <div class="col-md-12 col-lg logo d-flex align-items-center justify-content-center justify-content-lg-start">
        <h2 class="encabezado">Tutoriales</h2>									
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div class="row mt-3">
    <div class="col-6">
      <div class="form-group">          
        <input type="text" class="form-control" placeholder="Buscar por Titulo" name="titulo" id="titulo">
      </div>
    </div>
  </div>
</div>
<section id="content">
  <router-outlet></router-outlet>
</section>
